<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ test }}</title>
		<style>
		/* Critical CSS */
		{{ page.url | getVueComponentCssForPage }}
		</style>
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
